USE [master]
GO
/****** Object:  Database [Hotel_Management]    Script Date: 12/16/2022 14:55:35 ******/
CREATE DATABASE [Hotel_Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel_Management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Hotel_Management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_Management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Hotel_Management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel_Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel_Management]
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[MaChiTiet] [varchar](20) NOT NULL,
	[MaPhieuDichVu] [varchar](20) NULL,
	[MaSanPham] [varchar](20) NULL,
	[SoLuongBan] [int] NULL,
	[GiaTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhapkho]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapkho](
	[MaChiTietNhapKho] [varchar](20) NOT NULL,
	[MaNhapKho] [varchar](20) NULL,
	[MaSanPham] [varchar](20) NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietNhapKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [varchar](20) NOT NULL,
	[TenChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong](
	[MaPhieuDat] [varchar](20) NOT NULL,
	[MaLoaiPhong] [varchar](20) NULL,
	[LoaiKhach] [nvarchar](30) NULL,
	[MaNhanVien] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayDen] [datetime] NULL,
	[NgayDi] [datetime] NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[SoLuongKhach] [int] NULL,
	[SoDienThoai] [varchar](20) NULL,
	[GhiChu] [nvarchar](100) NULL,
	[TienCoc] [money] NULL,
	[TrangThai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](20) NOT NULL,
	[MaPhieuThue] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[MaNhanVien] [varchar](20) NULL,
	[TienPhong] [money] NULL,
	[TienDichVu] [money] NULL,
	[DaTra] [money] NULL,
	[ConLai] [money] NULL,
	[MaPhuongThuc] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [varchar](20) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NULL,
	[SoGiuong] [int] NULL,
	[SoNguoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoaiSanPham] [varchar](20) NOT NULL,
	[TenLoaiSanPham] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTienChi]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTienChi](
	[MaLoaiTienChi] [varchar](20) NOT NULL,
	[TenLoaiTienChi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiTienChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [varchar](20) NOT NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [datetime] NULL,
	[SoDienThoai] [varchar](20) NULL,
	[CMND] [varchar](20) NULL,
	[MaChucVu] [varchar](20) NULL,
	[Luong] [money] NULL,
	[NgayTao] [datetime] NULL,
	[TrangThaiNhanVien] [bit] NULL,
	[HinhAnh] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapKho]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKho](
	[MaNhapKho] [varchar](20) NOT NULL,
	[MaNhanVien] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhapKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuChi]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuChi](
	[MaPhieuChi] [varchar](20) NOT NULL,
	[MaLoaiTienChi] [varchar](20) NULL,
	[TienChi] [money] NULL,
	[MaPhuongThuc] [varchar](20) NULL,
	[GhiChu] [nvarchar](100) NULL,
	[NgayTao] [datetime] NULL,
	[MaNhanVien] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDichVu]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDichVu](
	[MaPhieuDichVu] [varchar](20) NOT NULL,
	[MaPhieuThue] [varchar](20) NULL,
	[MaNhanVien] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[TrangThaiThanhToan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [varchar](20) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[MaTang] [varchar](20) NULL,
	[MaLoaiPhong] [varchar](20) NULL,
	[MaTrangThaiPhong] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongThucThanhToan]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucThanhToan](
	[MaPhuongThuc] [varchar](20) NOT NULL,
	[TenPhuongThuc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhuongThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [varchar](20) NOT NULL,
	[TenSanPham] [nvarchar](50) NULL,
	[MaLoaiSanPham] [varchar](20) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[GiaBan] [money] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [varchar](20) NOT NULL,
	[MaNhanVien] [varchar](20) NULL,
	[TenDangNhap] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[CheckDangNhap] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tang]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tang](
	[MaTang] [varchar](20) NOT NULL,
	[TenTang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuePhong]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuePhong](
	[MaPhong] [varchar](20) NULL,
	[MaPhieuThue] [varchar](20) NOT NULL,
	[MaNhanVien] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayDen] [datetime] NULL,
	[NgayDi] [datetime] NULL,
	[CMND] [varchar](20) NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[SoLuongKhach] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[TienCoc] [money] NULL,
	[GiamGia] [money] NULL,
	[HinhAnh] [image] NULL,
	[MaPhuongThuc] [varchar](20) NULL,
	[TrangThaiThanhToan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiPhong]    Script Date: 12/16/2022 14:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiPhong](
	[MaTrangThaiPhong] [varchar](20) NOT NULL,
	[TenTrangThaiPhong] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTrangThaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietNhapkho] ([MaChiTietNhapKho], [MaNhapKho], [MaSanPham], [SoLuong], [GiaNhap]) VALUES (N'NK221215001', N'PN221215150300', N'SP001', 100, 7.0000)
INSERT [dbo].[ChiTietNhapkho] ([MaChiTietNhapKho], [MaNhapKho], [MaSanPham], [SoLuong], [GiaNhap]) VALUES (N'NK221215002', N'PN221215150300', N'SP002', 100, 7.0000)
INSERT [dbo].[ChiTietNhapkho] ([MaChiTietNhapKho], [MaNhapKho], [MaSanPham], [SoLuong], [GiaNhap]) VALUES (N'NK221215003', N'PN221215150300', N'SP003', 100, 6.0000)
GO
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'user', N'Nhân Viên')
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'admin', N'Quản Lí')
GO
INSERT [dbo].[DatPhong] ([MaPhieuDat], [MaLoaiPhong], [LoaiKhach], [MaNhanVien], [NgayTao], [NgayDen], [NgayDi], [TenKhachHang], [SoLuongKhach], [SoDienThoai], [GhiChu], [TienCoc], [TrangThai]) VALUES (N'DP221215150923', N'LP001', N'Khách Đơn', N'NV000', CAST(N'2022-12-15T15:09:00.000' AS DateTime), CAST(N'2022-12-15T18:00:00.000' AS DateTime), CAST(N'2022-12-16T08:00:00.000' AS DateTime), N'Nguyễn Văn Hưng', 1, N'999888777', N'', 0.0000, N'Không Phòng')
INSERT [dbo].[DatPhong] ([MaPhieuDat], [MaLoaiPhong], [LoaiKhach], [MaNhanVien], [NgayTao], [NgayDen], [NgayDi], [TenKhachHang], [SoLuongKhach], [SoDienThoai], [GhiChu], [TienCoc], [TrangThai]) VALUES (N'DP221215152508', NULL, N'Khách Đoàn', N'NV000', CAST(N'2022-12-15T15:25:00.000' AS DateTime), CAST(N'2022-12-15T00:00:00.000' AS DateTime), CAST(N'2022-12-17T00:00:00.000' AS DateTime), N'Lê Văn An', 10, N'989878767', N'', 0.0000, N'Không Phòng')
GO
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [SoGiuong], [SoNguoi]) VALUES (N'LP001', N'Phòng Đơn', 1, 2)
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [SoGiuong], [SoNguoi]) VALUES (N'LP002', N'Phòng Đôi Nhỏ', 2, 2)
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [SoGiuong], [SoNguoi]) VALUES (N'LP003', N'Phòng Lớn Nhỏ', 2, 3)
GO
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham]) VALUES (N'ML003', N'Di Chuyển')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham]) VALUES (N'ML002', N'Đồ Uống')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham]) VALUES (N'ML004', N'Giặt Đồ')
GO
INSERT [dbo].[LoaiTienChi] ([MaLoaiTienChi], [TenLoaiTienChi]) VALUES (N'MC001', N'Thay Bóng Đèn')
INSERT [dbo].[LoaiTienChi] ([MaLoaiTienChi], [TenLoaiTienChi]) VALUES (N'MC002', N'Thay Điều Hòa')
INSERT [dbo].[LoaiTienChi] ([MaLoaiTienChi], [TenLoaiTienChi]) VALUES (N'MC003', N'Tiền Điện')
GO
INSERT [dbo].[NhapKho] ([MaNhapKho], [MaNhanVien], [NgayTao], [GhiChu]) VALUES (N'PN221215150300', N'NV000', CAST(N'2022-12-15T15:03:00.000' AS DateTime), N'')
INSERT [dbo].[NhapKho] ([MaNhapKho], [MaNhanVien], [NgayTao], [GhiChu]) VALUES (N'PN221215150411', N'NV000', CAST(N'2022-12-15T15:04:00.000' AS DateTime), N'')
GO
INSERT [dbo].[PhieuChi] ([MaPhieuChi], [MaLoaiTienChi], [TienChi], [MaPhuongThuc], [GhiChu], [NgayTao], [MaNhanVien]) VALUES (N'MC221215145559', N'MC002', 150.0000, N'bank', N'', CAST(N'2022-12-15T14:55:00.000' AS DateTime), N'NV000')
INSERT [dbo].[PhieuChi] ([MaPhieuChi], [MaLoaiTienChi], [TienChi], [MaPhuongThuc], [GhiChu], [NgayTao], [MaNhanVien]) VALUES (N'MC221215145630', N'MC005', 1000.0000, N'bank', N'', CAST(N'2022-12-15T14:56:00.000' AS DateTime), N'NV000')
INSERT [dbo].[PhieuChi] ([MaPhieuChi], [MaLoaiTienChi], [TienChi], [MaPhuongThuc], [GhiChu], [NgayTao], [MaNhanVien]) VALUES (N'MC221215145655', N'MC001', 120.0000, N'cash', N'No Problem', CAST(N'2022-12-15T14:56:00.000' AS DateTime), N'NV000')
GO
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MaTang], [MaLoaiPhong], [MaTrangThaiPhong]) VALUES (N'MP101', N'101', N'TS001', N'LP001', N'TraPhong')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MaTang], [MaLoaiPhong], [MaTrangThaiPhong]) VALUES (N'MP102', N'102', N'TS001', N'LP001', N'CoKhach')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MaTang], [MaLoaiPhong], [MaTrangThaiPhong]) VALUES (N'MP103', N'103', N'TS001', N'LP002', N'PhongTrong')
GO
INSERT [dbo].[PhuongThucThanhToan] ([MaPhuongThuc], [TenPhuongThuc]) VALUES (N'bank', N'Ngân Hàng')
INSERT [dbo].[PhuongThucThanhToan] ([MaPhuongThuc], [TenPhuongThuc]) VALUES (N'cash', N'Tiền Mặt')
GO
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaLoaiSanPham], [DonViTinh], [GiaBan], [NgayTao]) VALUES (N'SP001', N'Coca', N'ML002', N'Lon', 9.0000, CAST(N'2022-12-15T14:59:00.000' AS DateTime))
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaLoaiSanPham], [DonViTinh], [GiaBan], [NgayTao]) VALUES (N'SP002', N'Pepsi', N'ML002', N'Lon', 10.0000, CAST(N'2022-12-15T15:00:00.000' AS DateTime))
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaLoaiSanPham], [DonViTinh], [GiaBan], [NgayTao]) VALUES (N'SP003', N'7UP', N'ML002', N'Lon', 10.0000, CAST(N'2022-12-15T15:00:00.000' AS DateTime))
GO
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MaNhanVien], [TenDangNhap], [MatKhau], [CheckDangNhap]) VALUES (N'TK000', N'NV000', N'mrpii.2k3@gmail.com', N'64647428', 1)
GO
INSERT [dbo].[Tang] ([MaTang], [TenTang]) VALUES (N'TS001', N'Tầng 1')
INSERT [dbo].[Tang] ([MaTang], [TenTang]) VALUES (N'TS002', N'Tầng 2')
INSERT [dbo].[Tang] ([MaTang], [TenTang]) VALUES (N'TS003', N'Tầng 3')
GO
INSERT [dbo].[ThuePhong] ([MaPhong], [MaPhieuThue], [MaNhanVien], [NgayTao], [NgayDen], [NgayDi], [CMND], [TenKhachHang], [SoLuongKhach], [GhiChu], [TienCoc], [GiamGia], [HinhAnh], [MaPhuongThuc], [TrangThaiThanhToan]) VALUES (N'MP101', N'PT221216141110', N'NV000', CAST(N'2022-12-16T14:11:00.000' AS DateTime), CAST(N'2022-12-16T14:11:00.000' AS DateTime), CAST(N'2022-12-16T14:26:00.000' AS DateTime), N'1', N'a', 1, N'Chuyển Đến Phòng 102, ', 0.0000, 100.0000, NULL, N'bank', 0)
INSERT [dbo].[ThuePhong] ([MaPhong], [MaPhieuThue], [MaNhanVien], [NgayTao], [NgayDen], [NgayDi], [CMND], [TenKhachHang], [SoLuongKhach], [GhiChu], [TienCoc], [GiamGia], [HinhAnh], [MaPhuongThuc], [TrangThaiThanhToan]) VALUES (N'MP102', N'PT221216142606', N'NV000', CAST(N'2022-12-16T14:26:00.000' AS DateTime), CAST(N'2022-12-16T14:26:00.000' AS DateTime), NULL, N'1', N'a', 1, N'Chuyển Từ Phòng 101, ', 0.0000, -50.0000, NULL, N'bank', 0)
GO
INSERT [dbo].[TrangThaiPhong] ([MaTrangThaiPhong], [TenTrangThaiPhong]) VALUES (N'CoKhach', N'Có Khách')
INSERT [dbo].[TrangThaiPhong] ([MaTrangThaiPhong], [TenTrangThaiPhong]) VALUES (N'DatTruoc', N'Đặt Trước')
INSERT [dbo].[TrangThaiPhong] ([MaTrangThaiPhong], [TenTrangThaiPhong]) VALUES (N'PhongTrong', N'Phòng Trống')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChucVu__A7E2123EED33538B]    Script Date: 12/16/2022 14:55:36 ******/
ALTER TABLE [dbo].[ChucVu] ADD UNIQUE NONCLUSTERED 
(
	[TenChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiPhon__2508179CD985852F]    Script Date: 12/16/2022 14:55:36 ******/
ALTER TABLE [dbo].[LoaiPhong] ADD UNIQUE NONCLUSTERED 
(
	[TenLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiSanP__FD39E605E83EE2C2]    Script Date: 12/16/2022 14:55:36 ******/
ALTER TABLE [dbo].[LoaiSanPham] ADD UNIQUE NONCLUSTERED 
(
	[TenLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiTien__88ECE332F04EA740]    Script Date: 12/16/2022 14:55:36 ******/
ALTER TABLE [dbo].[LoaiTienChi] ADD UNIQUE NONCLUSTERED 
(
	[TenLoaiTienChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__0389B7BD4F0DA57C]    Script Date: 12/16/2022 14:55:36 ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__F67C8D0BD33A1828]    Script Date: 12/16/2022 14:55:36 ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Phong__AE382B299C03596D]    Script Date: 12/16/2022 14:55:36 ******/
ALTER TABLE [dbo].[Phong] ADD UNIQUE NONCLUSTERED 
(
	[TenPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhuongTh__B139DAA6F65A87DE]    Script Date: 12/16/2022 14:55:36 ******/
ALTER TABLE [dbo].[PhuongThucThanhToan] ADD UNIQUE NONCLUSTERED 
(
	[TenPhuongThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SanPham__FCA804693AD404BA]    Script Date: 12/16/2022 14:55:36 ******/
ALTER TABLE [dbo].[SanPham] ADD UNIQUE NONCLUSTERED 
(
	[TenSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC01B8FD7F5]    Script Date: 12/16/2022 14:55:36 ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tang__94C2B28F4923BC22]    Script Date: 12/16/2022 14:55:36 ******/
ALTER TABLE [dbo].[Tang] ADD UNIQUE NONCLUSTERED 
(
	[TenTang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TrangTha__033A2942CB6125E7]    Script Date: 12/16/2022 14:55:36 ******/
ALTER TABLE [dbo].[TrangThaiPhong] ADD UNIQUE NONCLUSTERED 
(
	[TenTrangThaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD FOREIGN KEY([MaPhieuDichVu])
REFERENCES [dbo].[PhieuDichVu] ([MaPhieuDichVu])
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietNhapkho]  WITH CHECK ADD FOREIGN KEY([MaNhapKho])
REFERENCES [dbo].[NhapKho] ([MaNhapKho])
GO
ALTER TABLE [dbo].[ChiTietNhapkho]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaPhieuThue])
REFERENCES [dbo].[ThuePhong] ([MaPhieuThue])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaPhuongThuc])
REFERENCES [dbo].[PhuongThucThanhToan] ([MaPhuongThuc])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuChi]  WITH CHECK ADD FOREIGN KEY([MaLoaiTienChi])
REFERENCES [dbo].[LoaiTienChi] ([MaLoaiTienChi])
GO
ALTER TABLE [dbo].[PhieuChi]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuChi]  WITH CHECK ADD FOREIGN KEY([MaPhuongThuc])
REFERENCES [dbo].[PhuongThucThanhToan] ([MaPhuongThuc])
GO
ALTER TABLE [dbo].[PhieuDichVu]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuDichVu]  WITH CHECK ADD FOREIGN KEY([MaPhieuThue])
REFERENCES [dbo].[ThuePhong] ([MaPhieuThue])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaTang])
REFERENCES [dbo].[Tang] ([MaTang])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaTrangThaiPhong])
REFERENCES [dbo].[TrangThaiPhong] ([MaTrangThaiPhong])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([MaLoaiSanPham])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ThuePhong]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ThuePhong]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[ThuePhong]  WITH CHECK ADD FOREIGN KEY([MaPhuongThuc])
REFERENCES [dbo].[PhuongThucThanhToan] ([MaPhuongThuc])
GO
USE [master]
GO
